:root {
    --heading-background-color: #f5f5dc;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Ubuntu, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb (0 0 0 / 0.1);
    --width: 100vw;
    --opacity: 0.5;
}

h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-tex-color);
    font-family: var(--heading-font);
    padding: var(--padding);
    width: var(--width);
    opacity: var(--opacity);
}

aside {
    margin: 10px auto;
    padding:var(--padding);
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: "Winky sans", sans-serif;
}

.hero {
	margin: 10px auto;
	position: relative;
    clear: left;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    text-align: center;
    font-size: 4rem;
    top: 100px;
    right:0px
}

.stats {
    position: absolute;
    top: 300px;
    right: 125px;
    width: 75vw;
    margin: 1rem auto;
    background-color: #fca311;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    opacity: 0.8;
}

.stats img {
    width: 200px;
    height: auto;
    float: right;
}

section {
    position: relative;
}

footer {
	position: relative;
	bottom: 0;
}

.sociallinks {
    width: 100%;
}