:root {
    --heading-background-color: #f5f5dc;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Ubuntu, sans-serif;
    --width: 100%;
    --opacity: 0.5;
    --primary-color: #1e90ff;
}

.hero h1, .hiv h1, .tp h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-tex-color);
    width: var(--width);
    opacity: var(--opacity);
}

aside {
    margin: 10px auto;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
    border-radius: 20px;
}

a {
    text-decoration: none;
}

body {
    font-family: "Winky sans", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Winky sans", sans-serif;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0px;
  justify-items: flex-start;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: #0099cc;
  position: relative;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 140px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 5px 30px;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-size: 1.1em;
    padding: 8px 0px;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #555;
}

main {
    margin: 20px;
    padding: 20px;
}

.hiv {
    position: relative;
	margin: 10px auto;
    text-align: center;
    clear: left;
}

.hiv img {
    width: 100%;
    height: 750px;
    object-fit: cover;
    border-radius: 8px;
}

.hiv h1 {
    position: absolute;
    text-align: center;
    font-size: 4rem;
    top: 30px;
    right:0px
}

.hero {
    position: relative;
	margin: 10px auto;
    text-align: center;
    clear: left;
}

.hero img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
}

.hero h1 {
    position: absolute;
    text-align: center;
    font-size: 4rem;
    top: 30px;
    right:0px
}

.stats {
    position: absolute;
    top: 200px;
    right: 125px;
    width: 75vw;
    margin: 1rem auto;
    background-color: #fca311;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    opacity: 0.8;
}

.stats img {
    width: 200px;
    height: auto;
    float: right;
    border-radius: 8px;
}

.account {
    position: absolute;
    top: 200px;
    right: 125px;
    width: 15vw;
    margin: 1rem auto;
    background-color: #fcfcfc;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    border-radius: 5px;
    opacity: 0.7;
    text-align: left;
}

.account img {
    width: 200px;
    height: auto;
    float: right;
    border-radius: 8px;
}

.info {
    position: absolute;
    top: 200px;
    left: 125px;
    width: 50vw;
    margin: 1rem auto;
    background-color: whitesmoke;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    opacity: 0.6;
    text-align: center;
    border-radius: 5px;
}

.ppa {
    text-align: left;
}

.ppa figure {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: auto;
    margin: 50px;
    float: left;
}

.ppa figcaption {
    display: block;
    text-align: center;
}

.ppa figure img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 8px;
}

.tab {
    position: relative;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    padding: auto;
    margin: 25px;
    float: left;
}

.tab input,
.tab button {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.tab button {
    background-color: #3399ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
  }

.tab button:hover {
    background-color: #007acc;
  }

h3 {
    border-spacing: 0px;
}

table{
    border-spacing: 5px;
} 

.history-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: relative;
}

.history-comment {
    width: 3000px;
    text-align: center;
}

.left-comment, .right-comment {
    width: 3000px;
}

.history-image-container {
    position: relative;
    width: 1000px;
}

.history-image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

figure {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    max-width: 180px;
    margin: 25px;
    float: left;
}
  
figure img {
    max-width: 200px;
    max-height: 150px;
    border-radius: 8px;
}
  
figcaption {
    display: block;
    text-align: center;
}

section {
    position: relative;
    width: 100%;
}

.tp h1, .tp3 h1{
    text-align: center;
}

.tp1 img, .tp3 img {
    width: 400px;
    height: auto;
    float: right;
    border-radius: 8px;
}

.tp2 img {
    width: 400px;
    height: auto;
    float: left;
    border-radius: 8px;
}

.tp1, .tp2, .tp3 {
    text-align: left;
}

.tt {
    color: var(--heading-tex-color);
    width: var(--width);
    opacity: var(--opacity);
    text-align: center;
}

.contact {
    color: var(--heading-tex-color);
    width: var(--width);
    opacity: 0.6;
    position: relative;
    align-items: center;
    justify-items: normal;
    top: 90px;
}

.contact a img {
    position: relative;
    top: 7px;
}

.map {
    float: right;
}

.map iframe {
    border: 0px;
    border-radius: 5px;
}

.employee {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 25px;
    top: 50px;
    right: 50px;
}

.employee img {
    width: 100%;
    height: auto;
    align-content: center;
}

.contact-form {
    align-content: space-around;
    align-items: center;
    justify-items: center;
    background-color:#f5f4fc;
    border-radius: 5px;
    max-width: 100%;
    opacity: 0.7;
}

.contact-form textarea {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

.contact-form label,
.contact-form legend {
  font-weight: 600;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: 1rem;
  }

.contact-form textarea {
    resize: vertical;
  }

.contact-form fieldset {
    border: none;
    padding: 0;
  }

.contact-form input[type="radio"],
.contact-form input[type="checkbox"] {
    margin-right: 0.5rem;
  }

.contact-form button[type="submit"] {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ececec;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

.contact-form button[type="submit"]:hover {
    background-color: #0d6efd;
  }

footer {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 11fr 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-content: space-between;
	position: relative;
	width: 100%;
    clear: both;
}

footer p {
    text-align: center;
    margin: 0;
}

footer .sosiallinks {
    display: flex;
    gap: 20px;
}

footer .sociallinks img{
    width: 25px;
    height: 25px;
    object-fit: contain;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
