* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
    font-size: 16px;
    display: block;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

main {
    max-width: 840px;
    margin: 1rem;
    display: block;
}

*{
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgba(1, 30, 88, 0.533);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding:0;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 125px;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1;
    grid-row: 1;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* why use rgba instesd of hex here? */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    display: block;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
margin: 1rem;
border: 1px solid rgb(0,0,0.1);
padding: 1rem;
background-color: #ddd;
color: #000;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
